<header class="header-wrapper bg-teel">
  <div class="top-header-wrapper py-[12px] border-b border-black">
    <div class="container content-max">
      <div class="flex flex-row flex-wrap mx-[-30px]">
        <div class="w-[50%] px-[20px]">
          <div class="col-left">
            <p class="font-GTSuper italic text-body mb-0">Meet Festive & Co</p>
          </div>
        </div>
        <div class="w-[50%] px-[20px]">
          <ul class="flex flex-row justify-end">
            <li class="list-none mx-[20px] font-GTSuper italic text-body"><a href="">Account</a></li>
            <li class="list-none mx-[20px] font-GTSuper italic text-body"><a href="">Contact</a></li>
            <li class="list-none mx-[20px] font-GTSuper italic text-body"><a href="">Shop</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="main-header py-[26px] bg-teel">
    <div class="container content-max">
      <div class="flex flex-row flex-wrap mx-[-30px] items-stretched relative">
        <div class="w-[25%] px-[20px] overflow-visible">
          <div class="logo-wrapper">
            <img src="{{ section.settings.header_logo | img_url: 'master' }}" alt="site-logo">
          </div>
        </div>
        <div class="w-[75%] px-[20px] relative">
          <div class="main-navigation absolute top-[14px] right-[20px]">
            {% if section.settings.header_nav != blank %}
              <ul class="flex flex-row justify-end">
                {%- assign nav_linklists = section.settings.header_nav -%}
                {% for link in linklists[nav_linklists].links %}
                  <li class="mx-[16px] font-Platform font-normal text-body tracking-[0.25em] uppercase">
                    <a href="{{- link.url -}}">{{- link.title -}}</a>
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>
        </div>
        {% if section.settings.header_intro != blank %}
          <div class="header-intro-text">
            <p class="text-[18px] font-GTSuper leading-[22px] mb-0 font-normal">{{ section.settings.header_intro }}</p>
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</header>

{% schema %}
{
  "name": "Header",
  "settings": [
    {
      "type": "text",
      "id": "top_header_welcome",
      "label": "Header Welcome Text"
    },
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "Header Logo"
    },
    {
      "type": "link_list",
      "id": "header_nav",
      "label": "Header Navigation"
    },
    {
      "type": "textarea",
      "id": "header_intro",
      "label": "Header Intro Text"
    }
  ]
}
{% endschema %}
